@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._
@(env: play.api.Environment, admin: models.users.Administrator)

<!-- Pass page title and user on to main -->
@productAdmin.main("Account Details", admin) {


<div class="row">


	<div class="col-md-9">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

	<div class="panel panel-success">
	<div class="panel-heading">
          <h4>Account Details <span class="glyphicon glyphicon-th-list"></span></h4> </div>
	 <div class="panel-body">
    				@if(env.resource("public/images/userIcons/" + admin.getEmail + ".png").isDefined) {
					<img src="/assets/images/userIcons/@(admin.getEmail).png" height="200" width="200"/>
				} else {
					<img src="/assets/images/userIcons/noImage.png" height="200" width="200"/>
				}


 @if(admin != null) {          
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>@admin.getTitle @admin.getName @admin.getSurname</strong></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>@admin.getEmail</td>
      </tr>
   
    </tbody>
  </table>
}

<a href="@routes.AdminHomeCtrl.updateAdministrator()">
				<button class="btn btn-primary">Edit Details</button>
			</a>
                        <a href="@routes.AdminHomeCtrl.deleteAdministrator()">
				<button class="btn btn-danger" onclick="return confirmDel();"><span class="glyphicon glyphicon-trash"></span> Delete Account</button>
			</a>
		</div>
</div>

<div class="col-md-3">

</div>


</div>


<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>

}
