@(addAdministratorForm: Form[models.users.Administrator], user: models.users.User)
<!-- addAdministratorForm defined above is the parameter
 passed to this view by the controller -->
@import models.users._

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._

<!-- The page will be based on the main template -->
@productAdmin.main("New Administrator", user) {

<div class="row">

       <div class="col-md-3">
     @if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>

                
		} 
               @if(flash.containsKey("warning")) {
			  <div class="alert alert-warning">
			      @flash.get("warning")
			  </div>

                
		} 


    </div>

	<div class="col-md-6">

         <div class="panel panel-success">
	<div class="panel-heading">
	<h4>Add a new Administrator <span class="glyphicon glyphicon-user"></span></h4></div>
	<div class="panel-body">
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.AdminHomeCtrl.addAdministratorSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(addAdministratorForm("email"), '_label -> "Email",'class -> "form-control")
               @select(
                addAdministratorForm("title"), 
                options(User.titleOptions), 
                '_label -> "Title", '_default -> "-- Choose a Title--",
                '_showConstraints -> false
            )
		@inputText(addAdministratorForm("name"), '_label -> "First Name",'class -> "form-control")
                @inputText(addAdministratorForm("surname"), '_label -> "Last Name",'class -> "form-control")
		@inputText(addAdministratorForm("password"), '_label -> "Password",'class -> "form-control")
	
		<!-- Image upload input -->
		<label>Image</label>
    <input class="btn-sm btn-default" type="file" name="upload">
		<br><br>

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Add Administrator" class="btn btn-primary">
			<a href="@routes.AdminProductCtrl.listProducts(0)"
				<button class="btn btn-warning">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->

</div>
    </div>

</div>

  <div class="col-md-3">

    </div>


</div>




} <!-- End of page content -->


