@import models.products.Category
@import models.products.Product
@import models.users.User
@import models._;
@(messages: List[ForumMessage], user: User)


<!-- Pass page title and user on to main -->
@productAdmin.main("Forum Page", user) {


	<div class="row">
	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

      <h3>Forum</h3>

		<table class="table table-bordered table-hover table-condensed">
			<thead>
			<!-- The header row-->
			<tr>
				<th>Name</th>
                                <th>Role</th>
				<th>Subject</th>
				<th>Message</th>
                                <th>Date</th>
			</tr>
			</thead>

         @for(m <- messages) {
			<tbody>
                @if(messages!= null) {

                    <tr>
                        <td>@m.getUser.getName</td>
                        <td>@m.getUser.getRole</td>
                        <td>@m.getSubject</td>
                        <td>@m.getMessageContent</td>
                        <td>@m.getMessageDate</td>
                       
                    </tr>

              }
			</tbody>
}
		</table>
   
          <hr>

           <a href="@routes.AdminHomeCtrl.addForumMessage()"
				<button class="btn btn-primary">Leave Message</button>
			</a>
        
        </div>




	</div>

	
}
