@(user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
@productAdmin.main("Help", user) {
  <!-- HTML content for the index view -->
   <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Help Information
                    <small>View our tutorials</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/JEPTKswT7QA" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                  
                </a>
                <h3>
                    <a href="https://youtu.be/JEPTKswT7QA">Manage Products</a>
                </h3>
                <p>Learn how to add, edit and delete products.</p>
            </div>
	     <div class="col-md-4 portfolio-item">
		<iframe src="https://www.youtube.com/embed/ou30cTWQIOo" frameborder="0" allowfullscreen></iframe>
                <h3>
                    <a href="https://youtu.be/ou30cTWQIOo">View & Create Reports</a>
                </h3>
                <p>View up to date information about products, customers and forum messsages, and save them to file to keep record of them.</p>
            </div>
           
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/BQH401u6O9o" frameborder="0" allowfullscreen></iframe>
                
                <h3>
                    <a href="https://youtu.be/BQH401u6O9o">Browse & Search Products</a>
                </h3>
                <p>Navigate our wide range of products with ease following these methods to find the products for you.</p>
            </div>

	    
        </div>
        <!-- /.row -->


 

        <hr>

      

  <!-- End of content for main -->
}
