@import models.products.Category
@import models.products.Product
@import models.shopping._
@import models.products._
@import models.users.User
@(env: play.api.Environment, categories: List[Category], products: List[Product], catId: Long, filter: String, user: User, amount: Long)

<!-- Pass page title and user on to main -->
@productAdmin.main("Low Stock", user) {


    <style>
		form {
			margin-bottom: 1em;
		}
	</style>

<div class="row">

  <div class="col-md-3">
      <div class="list-group">
				<!-- Start of For loop - For each c in categories add a link -->
				<a href="@routes.AdminProductCtrl.lowStock(0)" class="list-group-item">All categories</a>
				@for(c <- categories) {
          <a href="@routes.AdminProductCtrl.lowStock(c.getId)" class="list-group-item">@c.getName  </a>
				}
      </div>
  </div>

	<div class="col-md-9">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>

                
		} 

        <!-- Search Form -->
			<div id="actions">
			 <form action="@routes.AdminProductCtrl.lowStock(catId)" method="GET">
				<input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by product name...">
				<input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
			 </form>
			</div>


		 <div class="row">

			@for(p <- products) {

		    <div class="col-sm-4 col-lg-4 col-md-4">
			<div class="thumbnail">

				@if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
					<img src="/assets/images/productImages/thumbnails/@(p.getId).jpg"/>
				} else {
					<img src="/assets/images/productImages/thumbnails/noImage.png"/>
				}
			<div class="caption">
				<h3 class="pull-right">&euro; @("%.2f".format(p.getPrice))</h3>
				<h3><a href="#">@p.getName</a>
				</h3>
				<p class="pull-right">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    
                                </p>
				<p><a href="@routes.ShoppingCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a>
@if(user != null) {
		<a href="@routes.AdminProductCtrl.updateProduct(p.getId)" class="btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
					<!-- Delete product button -->
<a href="@routes.AdminProductCtrl.deleteProduct(p.getId)" class="btn-xs btn-danger"
						onclick="return confirmDel();">
	<span class="glyphicon glyphicon-trash"></span></a>
					}

</p>
				 
				<p>@p.getDescription</p>
			        <p>Stock: @p.getStock</p>
                    <!-- <a href="@routes.AdminProductCtrl.orderStock(p.getId)">
				<button class="btn btn-primary">Order Stock</button>
			</a> -->
                       
                       <!-- orderStock Form -->
			<div id="actions">
			 <form action="@routes.AdminProductCtrl.orderStock(p.getId)" method="GET">
				<input type="search" id="searchbox" name="amount" value="@amount" placeholder="Enter amount to order...">
				<input type="submit" id="searchsubmit" value="Submit" class="btn-md btn-primary">
			 </form>
			</div>

			</div>

			</div>
            </div>

	}

		</div>
		
	</div>
</div>

<script>
	// JavaScript function returns true if user clicks yes, otherwise, false
	function confirmDel() {
		return confirm('Are you sure?');
	}
</script>
}
