@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping._
@import models.products._
@(env: play.api.Environment, customer: models.users.Customer)

<!-- Pass page title and user on to main -->
@main("Account Details", customer) {


<div class="row">


	<div class="col-md-9">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 


          <h3>Account Details</h3> 

    				@if(env.resource("public/images/userIcons/" + customer.getName + ".jpg").isDefined) {
					<img src="/assets/images/userIcons/@(customer.getName).jpg" height="200" width="200"/>
				} else {
					<img src="/assets/images/userIcons/noImage.png" height="200" width="200"/>
				}


 @if(customer != null) {          
  <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>@customer.getName</strong></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email</td>
        <td>@customer.getEmail</td>
      </tr>
      <tr>
        <td>Street1</td>
        <td>@customer.getStreet1</td>
      </tr>
      <tr>
        <td>Street2</td>
        <td>@customer.getStreet2</td>
      </tr>
      <tr>
        <td>Town</td>
        <td>@customer.getTown</td>
      </tr>
      
      <tr>
        <td>PostCode</td>
        <td>@customer.getPostCode</td>
      </tr>
        <td>Country</td>
        <td>@customer.getCountry</td>
      </tr>
    </tbody>
  </table>
}

<a href="@routes.HomeController.updateCustomer()">
				<button class="btn btn-primary">Edit Details</button>
			</a>
                        <a href="@routes.HomeController.deleteCustomer()">
				<button class="btn btn-danger">Delete Account</button>
			</a>
		</div>

<div class="col-md-3">

</div>


</div>
}
