@import models.products.Category
@import models.products.Product
@import models.users.User
@import models._;
@(messages: List[ForumMessage], user: User)


<!-- Pass page title and user on to main -->
@main("Forum Page", user) {


	<div class="row">
	<div class="col-md-12">
		@if(flash.containsKey("success")) {
			  <div class="alert alert-success">
			      @flash.get("success")
			  </div>
		} 

      <h3>Forum</h3>	
   
          <hr>

@for(m <- messages) {

 @if(m.getUser.getRole().equalsIgnoreCase("customer")) {
<!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">

      <img src="@routes.Assets.versioned("images/adminIcon2.png")" class="media-object" style="width:60px">
      <p>Customer</p>
    </div>
    <div class="media-body">
      <h4 class="media-heading">@m.getUser.getName</h4>
	<h4>@m.getSubject</h4>
      <p>@m.getMessageContent</p>

      <p>@m.getMessageDate</p>
    </div>
  </div>
  <hr>
  } @if(m.getUser.getRole().equalsIgnoreCase("admin")){
  <!-- Right-aligned media object -->
  <div class="media">
    <div class="media-body">
     <h4 class="media-heading">@m.getUser.getName</h4>
	<h4>@m.getSubject</h4>
      <p>@m.getMessageContent</p>
        <p>@m.getMessageDate</p>
    </div>
    <div class="media-right">
      <img src="@routes.Assets.versioned("images/adminIcon.png")" class="media-object" style="width:60px">
      <p>Administrator</p>
    </div>
  </div>
  <hr>
}

}

   <a href="@routes.HomeController.addForumMessage()"
				<button class="btn btn-primary">Leave Message</button>
			</a>


	</div>

	
}
