@(user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
@main("Help", user) {
  <!-- HTML content for the index view -->
   <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Help Information
                    <small>View our tutorials</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/7zw8TyHonvI" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                  
                </a>
                <h3>
                    <a href="https://youtu.be/7zw8TyHonvI">Create Account & Login</a>
                </h3>
                <p>Learn how to create an account with JAS Basketball and take the first step into becoming apart of the JAS community by logging in for the first time.</p>
            </div>
            <div class="col-md-4 portfolio-item">
<iframe src="https://www.youtube.com/embed/ImfyTnGMAq0" frameborder="0" allowfullscreen></iframe>
                <a href="https://www.youtube.com/ImfyTnGMAq0">
                 
                </a>
                <h3>
                     <a href="https://youtu.be/ImfyTnGMAq0">Purchase a Product</a>
                </h3>
                <p>Walkthrough the steps it takes to purchase one of our products. Go from spotting that T-Shirt you like, to having it be sent to you in no time. </p>
            </div>
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/BQH401u6O9o" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                    
                </a>
                <h3>
                    <a href="https://youtu.be/BQH401u6O9o">Browse & Search Products</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
		<iframe src="https://www.youtube.com/embed/f5jxhFcNke8" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                    
                </a>
                <h3>
                    <a href="https://youtu.be/f5jxhFcNke8">Add, Edit & Delete Reviews</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
             <iframe src="https://www.youtube.com/embed/WQ1EVYas9NY" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                    
                </a>
                <h3>
                    <a href="https://youtu.be/WQ1EVYas9NY">Learn to use the Forum</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
	<iframe src="https://www.youtube.com/embed/WQ1EVYas9NY" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                    
                </a>
                <h3>
                    <a href="https://youtu.be/WQ1EVYas9NY">Forum Interactions</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/600x300" alt="">
                </a>
                <h3>
                    <a href="#">Project Name</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

  <!-- End of content for main -->
}
