@(user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
@main("Help", user) {
  <!-- HTML content for the index view -->
   <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">Help Information
                    <small>View our tutorials</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/7zw8TyHonvI" frameborder="0" allowfullscreen></iframe>
                <a href="#">
                  
                </a>
                <h3>
                    <a href="https://youtu.be/7zw8TyHonvI">Create Account & Login</a>
                </h3>
                <p>Learn how to create an account with JAS Basketball and take the first step into becoming apart of the JAS community by logging in for the first time.</p>
            </div>
	     <div class="col-md-4 portfolio-item">
		<iframe src="https://www.youtube.com/embed/4NB5-5p6H6o" frameborder="0" allowfullscreen></iframe>
                <h3>
                    <a href="https://youtu.be/4NB5-5p6H6o">Manage Account</a>
                </h3>
                <p>Learn how to view your account details, make changes to your information if neccessary and delete your account from JAS Basketball.</p>
            </div>
           
            <div class="col-md-4 portfolio-item">
               <iframe src="https://www.youtube.com/embed/BQH401u6O9o" frameborder="0" allowfullscreen></iframe>
                
                <h3>
                    <a href="https://youtu.be/BQH401u6O9o">Browse & Search Products</a>
                </h3>
                <p>Navigate our wide range of products with ease following these methods to find the products for you.</p>
            </div>

	    
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
	   <div class="col-md-4 portfolio-item">
<iframe src="https://www.youtube.com/embed/ImfyTnGMAq0" frameborder="0" allowfullscreen></iframe>
                <a href="https://www.youtube.com/ImfyTnGMAq0">
                 
                </a>
                <h3>
                     <a href="https://youtu.be/ImfyTnGMAq0">Purchase a Product</a>
                </h3>
                <p>Walkthrough the steps it takes to purchase one of our products. Go from spotting that T-Shirt you like, to having it be sent to you in no time. </p>
            </div>
	     <div class="col-md-4 portfolio-item">
	<iframe src="https://www.youtube.com/embed/zVtqvwDAaBo" frameborder="0" allowfullscreen></iframe>
                
                <h3>
                    <a href="https://youtu.be/zVtqvwDAaBo">Manage Orders</a>
                </h3>
                <p>Walkthrough the process orders go through, learn how to cancel your order if it has'nt been sent out for delivery yet.</p>
            </div>
            <div class="col-md-4 portfolio-item">
		<iframe src="https://www.youtube.com/embed/f5jxhFcNke8" frameborder="0" allowfullscreen></iframe>
       
                <h3>
                    <a href="https://youtu.be/f5jxhFcNke8">Add, Edit & Delete Reviews</a>
                </h3>
                <p>Learn how to give us your feedback on our products. We would love to hear you thoughts on what we have to offer.</p>
            </div>
           
           
        </div>

        <!-- Projects Row -->
        <div class="row">
             <div class="col-md-4 portfolio-item">
             <iframe src="https://www.youtube.com/embed/WQ1EVYas9NY" frameborder="0" allowfullscreen></iframe>
             
                <h3>
                    <a href="https://youtu.be/WQ1EVYas9NY">Learn to use the Forum</a>
                </h3>
                <p>Post forum messages, edit messages and delete your message if neccessary. Aswell as like or dislike other messages.</p>
            </div>
        
        </div>
        <!-- /.row -->

        <hr>

      

  <!-- End of content for main -->
}
