@(user: models.users.User)
<!-- Pass page title and content {html between braces} to the main view -->
@main("Home", user) {
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="#">
      <img src="@routes.Assets.versioned("images/pageImages/bball1.3.jpg")" alt="JAS Basketball">
      <div class="carousel-caption">
        <h3></h3>
        <p>  </p>
      </div>
      </a>
    </div>

     <div class="item">
       <a href="#">
      <img src="@routes.Assets.versioned("images/pageImages/bball2.jpg")" alt="JAS Basketball">
      <div class="carousel-caption">
        <h3></h3>
        <p>  </p>
      </div>
       </a>
    </div>


    <div class="item">
      <a href="#">
      <img src="@routes.Assets.versioned("images/pageImages/bball5.jpg")" alt="JAS Basketball">
      <div class="carousel-caption">
        <h3></h3>
        <p> </p>
      </div>
      </a>
    </div>

<div class="item">
  <a href="#">
      <img src="@routes.Assets.versioned("images/pageImages/bball4.1.jpg")" alt="JAS Basketball">
      <div class="carousel-caption">
        
        <h3></h3>
        
        <p></p>
      </div>
  </a>
    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class="container-fluid">
 <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                 <p>Welcome to JAS basketball, here you will find a wide range of the most up to date and elite basketball products & equipment. We offer products to fit all shapes and sizes.</p>
                 <p>If you have any queries or would just like to find some more information dont hesitate to contact us on our public forum. The Link below will take you to it, we're here to help</p>
                <p>
                    <a class="btn btn-default btn-lg" href="@routes.HomeController.forum()">Contact Us &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                   <strong>JAS Basketball</strong>
                    <br>21 Harrington Street
                     <br>Dublin, Ireland
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>01 456 7650
                    <br>
                     <abbr title="Email">E:</abbr> <a href="mailto:#">JASBasketball@@company.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->


       <div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel2" data-slide-to="1"></li>
    <li data-target="#myCarousel2" data-slide-to="2"></li>
    <li data-target="#myCarousel2" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="@routes.ProductCtrl.listProducts(9)">
      <img src="@routes.Assets.versioned("images/pageImages/mensTs.jpg")" alt="Mens">
      <div class="carousel-caption">
        <h3></h3>
        <p>  </p>
      </div>
      </a>
    </div>

     <div class="item">
       <a href="@routes.ProductCtrl.listProducts(10)">
      <img src="@routes.Assets.versioned("images/pageImages/womensTs.jpg")" alt="Womens">
      <div class="carousel-caption">
        <h3></h3>
        <p>  </p>
      </div>
       </a>
    </div>


    <div class="item">
      <a href="@routes.ProductCtrl.listProducts(1)">
      <img src="@routes.Assets.versioned("images/pageImages/footwear.jpg")" alt="Footwear">
      <div class="carousel-caption">
        <h3></h3>
        <p> </p>
      </div>
      </a>
    </div>

<div class="item">
  <a href="@routes.ProductCtrl.listProducts(6)">
       <img src="@routes.Assets.versioned("images/pageImages/hats.jpg")" alt="Hats">
      <div class="carousel-caption">
        
        <h3></h3>
        
        <p></p>
      </div>
  </a>
    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-rounded img-responsive img-left" style="width: 80%; max-width: 300px" src="@routes.Assets.versioned("images/pageImages/athleteImg/athleteImg1.3.jpg")" alt="">
                
            </div>
            <div class="col-sm-4">
                <a href="@routes.ProductCtrl.listProducts(9)">
                <img class="img-rounded img-responsive img-center" style="width: 100%; " src="@routes.Assets.versioned("images/pageImages/shopMens.jpg")" alt="">
                </a>

                <br>

                <a href="@routes.ProductCtrl.listProducts(10)">
                <img class="img-rounded img-responsive img-center" style="width: 100%; " src="@routes.Assets.versioned("images/pageImages/shopWomens.jpg")" alt="">
                </a>

                <br>

                <a href="@routes.ProductCtrl.list()">
                <button type="button" class="btn btn-success btn-lg btn-block">Visit our shop</button>
                </a>

            </div>
            <div class="col-sm-4">
                <img class="img-rounded img-responsive img-right pull-right" style="width: 80%; max-width: 300px" src="@routes.Assets.versioned("images/pageImages/athleteImg/athleteImg8.1.png")" alt="">
            </div>
        </div>
        <!-- /.row -->
}
