@(updateAddressForm: Form[models.users.Customer], user: models.users.User)
+<!-- editCustomerForm parameters defined above
+ passed to this view by the controller -->
+ @import models.products._
+@import models.users._
+
+<!-- a 'helper' will be used to create the form dynamically, 
+though a static HTML form would also work -->
+@import helper._
+
+<!-- The page will be based on the main template -->
+@main("Update Address", user) {
+ <link href="@routes.Assets.versioned("stylesheets/update-address.css")" rel="stylesheet"> 
+
+	<h3>Confirm/Change Address</h3>
+	
+	<!-- Use the views.html.helpers package to create the form -->
+	@form(action = routes.HomeController.updateAddressSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
+		
+		<!-- Build the form, adding an input for each field -->
+		<!-- Note the label parameter -->
+		
+               <div class="hidden"> @inputText(updateAddressForm("email"), '_label -> "Email",'class -> "form-control")
+                @inputText(updateAddressForm("name"), '_label -> "Name",'class -> "form-control")
+		@inputText(updateAddressForm("password"), '_label -> "Password",'class -> "form-control")</div>
+                @inputText(updateAddressForm("street1"), '_label -> "Street1",'class -> "form-control")
+		@inputText(updateAddressForm("street2"), '_label -> "Street2",'class -> "form-control")
+                @inputText(updateAddressForm("town"), '_label -> "Town",'class -> "form-control")
+                @inputText(updateAddressForm("postCode"), '_label -> "PostCode",'class -> "form-control")
+                @inputText(updateAddressForm("country"), '_label -> "Country",'class -> "form-control")
+
+		
+		<br><br>
+
+	<!-- Add a submit button -->
+  <div class="actions">
+      <input type="submit" value="Confirm Details" class="btn btn-primary">
+			<a href="@routes.HomeController.accountDetails()"
+				<button class="btn btn-warning" role="button">Cancel</button>
+			</a>
+  </div>
+	} <!-- End Form definition -->
+
+} <!-- End of page content -->@(updateAddressForm: Form[models.users.Customer], user: models.users.User)
+<!-- editCustomerForm parameters defined above
+ passed to this view by the controller -->
+ @import models.products._
+@import models.users._
+
+<!-- a 'helper' will be used to create the form dynamically, 
+though a static HTML form would also work -->
+@import helper._
+
+<!-- The page will be based on the main template -->
+@main("Update Address", user) {
+ <link href="@routes.Assets.versioned("stylesheets/update-address.css")" rel="stylesheet"> 
+
+	<h3>Confirm/Change Address</h3>
+	
+	<!-- Use the views.html.helpers package to create the form -->
+	@form(action = routes.HomeController.updateAddressSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
+		
+		<!-- Build the form, adding an input for each field -->
+		<!-- Note the label parameter -->
+		
+               <div class="hidden"> @inputText(updateAddressForm("email"), '_label -> "Email",'class -> "form-control")
+                @inputText(updateAddressForm("name"), '_label -> "Name",'class -> "form-control")
+		@inputText(updateAddressForm("password"), '_label -> "Password",'class -> "form-control")</div>
+                @inputText(updateAddressForm("street1"), '_label -> "Street1",'class -> "form-control")
+		@inputText(updateAddressForm("street2"), '_label -> "Street2",'class -> "form-control")
+                @inputText(updateAddressForm("town"), '_label -> "Town",'class -> "form-control")
+                @inputText(updateAddressForm("postCode"), '_label -> "PostCode",'class -> "form-control")
+                @inputText(updateAddressForm("country"), '_label -> "Country",'class -> "form-control")
+
+		
+		<br><br>
+
+	<!-- Add a submit button -->
+  <div class="actions">
+      <input type="submit" value="Confirm Details" class="btn btn-primary">
+			<a href="@routes.HomeController.accountDetails()"
+				<button class="btn btn-warning" role="button">Cancel</button>
+			</a>
+  </div>
+	} <!-- End Form definition -->
+
+} <!-- End of page content -->
